[submodule "App/ushell"]
	path = App/ushell
	url = https://github.com/kutukvpavel/ushell-stm32.git
[submodule "App/modbus"]
	path = App/modbus
	url = https://github.com/kutukvpavel/Modbus-STM32-HAL-FreeRTOS.git
[submodule "App/average"]
	path = App/average
	url = https://github.com/kutukvpavel/average_lib.git
